pyyaml~=5.4.1
pysftp~=0.2.9
numpy~=1.19.2
scipy~=1.6.0
pandas~=1.2.1
openpyxl
netCDF4~=1.5.5.1
cdsapi~=0.4.0
matplotlib~=3.3.4

# local installation from GAMS distribution
## in the <GAMS folder>/apifiles/Python/api_<python version without dot> execute: 'python.exe setup.py install'
gams~=1.0

certifi~=2020.12.5
urllib3~=1.26.3