# medea model interface
pandas
openpyxl
matplotlib
# scipy

# data download and processing
pyyaml
certifi
urllib3
pysftp

# conda-forge
netCDF4
cdsapi

# local installation from GAMS distribution
## in the <GAMS folder>/apifiles/Python/api_<python version without dot> execute: 'python.exe setup.py install'
gams

